@model IEnumerable<Product>

@{
    ViewData["Title"] = "Ürünler";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    iakademi38Context context = new iakademi38Context();
    string CategoryName, BrandName, StatusName = "";
    int productCount = 0;
}

    <p>
        <a asp-action="ProductCreate" asp-controller="Product" class="btn btn-success">YENİ ÜRÜN</a>
    </p>

    <!-- BEGIN PAGE CONTENT-->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN SAMPLE TABLE PORTLET-->
            <div class="portlet box red">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs"></i>
                        ÜRÜNLER
                        |
                        SLIDER
                        @{
                            productCount = context.Products.Count(p => p.StatusID == 1);
                            @productCount
                        }
                        |
                        SPECIAL
                        @{
                            productCount = context.Products.Count(p => p.StatusID == 2);
                            @productCount
                        }
                        |
                        SLIDER
                        @{
                            productCount = context.Products.Count(p => p.StatusID == 1);
                            @productCount
                        }
                        |
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse">
                        </a>
                        <a href="#portlet-config" data-toggle="modal" class="config">
                        </a>
                        <a href="javascript:;" class="reload">
                        </a>
                        <a href="javascript:;" class="remove">
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-scrollable">
                        <table class="table table-dark table-hover">
                            <thead style="background-color:grey;color:white">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ProductID)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ProductName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UnitPrice)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CategoryID)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.SupplierID)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Stock)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Discount)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.StatusID)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Keywords)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Kdv)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Related)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Notes)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PhotoPath)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Active)
                                    </th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(model => item.ProductID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.ProductName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.UnitPrice)
                                        </td>
                                        <td>
                                            @{
                                                CategoryName = context.Categories.FirstOrDefault(c => c.CategoryID == item.CategoryID).CategoryName;
                                                @CategoryName;
                                            }
                                        </td>

                                        <td>
                                            @{
                                                BrandName = context.Suppliers.FirstOrDefault(s => s.SupplierID == item.SupplierID).BrandName;
                                                @BrandName;
                                            }
                                        </td>

                                        <td>
                                            @Html.DisplayFor(model => item.Stock)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.Discount)
                                        </td>

                                        <td>
                                            @{
                                                StatusName = context.Statuses.FirstOrDefault(st => st.StatusID == item.StatusID).StatusName;
                                                switch (item.StatusID)
                                                {
                                                    default:
                                                        <span style="background-color:#AA77FF;color:white;"> @StatusName </span>
                                                        break;

                                                    case 1:
                                                        <span style="background-color:red;color:white;"> @StatusName </span>
                                                        break;

                                                    case 2:
                                                        <span style="background-color:#AA77FF;color:white;"> @StatusName </span>
                                                        break;

                                                    case 3:
                                                        <span style="background-color:#62CDFF; color: white;"> @StatusName </span>
                                                        break;

                                                    case 4:
                                                        <span style="background-color:#2E4F4F; color: white; "> @StatusName </span>
                                                        break;

                                                    case 5:
                                                        <span style="background-color:#898121; color: white;"> @StatusName </span>
                                                        break;

                                                    case 6:
                                                        <span style="background-color:#A85464; color: white;"> @StatusName </span>
                                                        break;
                                                }
                                            }
                                        </td>

                                        <td>
                                            @Html.DisplayFor(model => item.Keywords)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.Kdv)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.Related)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.Notes)
                                        </td>

                                        <td>
                                            @*@item.PhotoPath*@
                                            <img src="~/assets/resimler/@item.PhotoPath" height="35" width="60" />
                                        </td>

                                        @if (item.Active)
                                        {
                                            <td>
                                                <span style="background-color:green; color: white;">AKTİF</span>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <span style="background-color:red; color: white;">PASİF</span>
                                            </td>
                                        }

                                    <td>
                                        <a asp-action="ProductEdit" asp-route-id="@item.ProductID" class="btn btn-primary">DÜZELT</a>
                                        <a asp-action="ProductDetails" asp-route-id="@item.ProductID" class="btn btn-info">DETAY</a>
                                        <a asp-action="ProductDelete" asp-route-id="@item.ProductID" class="btn btn-danger">SİL</a>
                                    </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END SAMPLE TABLE PORTLET-->
        </div>
    </div>